<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor Clientes</h1>
        <button on-click="obtenerClientes" type="button" class="btn btn-success col-lg-3">Cargar Cliente</button>
      </div>
      <div class="row">
        <table class="table table-striped">
          <tbody>
            <template is="dom-repeat" items="{{ clientes }}">
              <tr>
                <td>[[ item.CustomerID ]]</td>
                <td>[[ item.ContactName ]]</td>
                <td>[[ item.CompanyName ]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }

      obtenerClientes() {
        const request = new XMLHttpRequest();

        request.open("GET", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);

        request.setRequestHeader("Accept", "application/json");
        request.send();

        this.clientes = JSON.parse(request.responseText).value;
        console.table(this.clientes)
      }

      addCliente() {
        const request = new XMLHttpRequest();
        request.open("POST", "http://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);

        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("ContentType", "application/json");

        const nuevoCliente = { "CustomerID": "123456", "ContactName": "Pepe", "CompanyName": "Pepes Fintech" }

        const body = JSON.stringify(nuevoCliente);

        request.send(body);

        console.log(request.responseText);
      }
    }


    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>